In [20]:
import random

In [3]:
random.randint(1,6)

5

In [7]:
dd=["xs","xd","bb","df","gg"]

In [10]:
random.choice(dd)

'df'

In [6]:
random python web

SyntaxError: invalid syntax (<ipython-input-6-d4737aa73966>, line 1)

In [44]:
import pandas as pd
import numpy as np


import numpy as np

In [100]:
dd=pd.read_csv("carsnew.csv")
dd.head()

,Unnamed: 0,name,mpg,cylinders,displacement,horsepower,weight,acceleration,model.year,binaryClass
0,1,chevrolet_chevelle_malibu,17,8,307.0,16,3504,12.0,70,P
1,2,buick_skylark_320,7,8,350.0,34,3693,11.5,70,P
2,3,plymouth_satellite,17,8,318.0,28,3436,11.0,70,P
3,4,amc_rebel_sst,9,8,304.0,28,3433,12.0,70,P
4,5,ford_torino,13,8,302.0,23,3449,10.5,70,P

In [111]:
dd.index.values[5]

5

In [46]:
questdict={}
for i in np.arange(1,30,1):
    quest=dd.name[i]
    answ=dd.mpg[i]
    questdict[quest]=answ

In [47]:
questdict

{'amc_ambassador_dpl': 7,
 'amc_hornet': 17,
 'amc_rebel_sst': 9,
 'amc_rebel_sst_(sw)': 130,
 'audi_100_ls': 49,
 'bmw_2002': 58,
 'buick_estate_wagon_(sw)': 5,
 'buick_skylark_320': 7,
 'chevrolet_chevelle_concours_(sw)': 130,
 'chevrolet_impala': 5,
 'chevrolet_monte_carlo': 7,
 'citroen_ds-21_pallas': 130,
 'datsun_pl510': 63,
 'dodge_challenger_se': 7,
 'ford_galaxie_500': 7,
 'ford_maverick': 34,
 'ford_mustang_boss_302': 130,
 'ford_torino': 13,
 'ford_torino_(sw)': 130,
 'peugeot_504': 53,
 'plymouth_cuda_340': 5,
 'plymouth_duster': 38,
 'plymouth_fury_iii': 5,
 'plymouth_satellite': 17,
 'plymouth_satellite_(sw)': 130,
 'pontiac_catalina': 5,
 'saab_99e': 53,
 'toyota_corona_mark_ii': 49,
 'volkswagen_1131_deluxe_sedan': 58}

In [44]:
colshow=["name","horsepower"]

bb=list(dd[dd.name=="chevrolet_chevette"]["horsepower"])

In [54]:
data=pd.read_csv("code_jobs.csv")

In [79]:
data1=data.head(10000)
data1.tail()

     code    job_id
9995  D3T  16057763
9996  D4Y  16057763
9997  D5Y  16057763
9998  D6F  16057763
9999  D7G  16057763

In [70]:
def multiassign(d, keys, values):
    for k, v in zip(keys, values):
        d[k] = v

In [65]:
dicta={}

In [71]:
G=multiassign(dicta, data1.job_id, data1.code)

In [73]:
dicta.update(zip(data1.job_id, data1.code))

In [78]:
dicta

{16057596: 'Z7J',
 16057600: 'Z7J',
 16057604: 'Z7J',
 16057608: 'Z7J',
 16057612: 'Z7J',
 16057617: 'Z7K',
 16057622: 'Z7J',
 16057626: 'Z7J',
 16057630: 'Z7J',
 16057633: 'Z7J',
 16057636: 'Z7J',
 16057639: 'Z7J',
 16057642: 'Z7J',
 16057645: 'Z7J',
 16057648: 'Z7J',
 16057651: 'Z7K',
 16057655: 'Z7K',
 16057659: 'Z8U',
 16057663: 'Z7J',
 16057668: 'Z7A',
 16057673: 'Z7J',
 16057676: 'Z7J',
 16057679: 'Z7J',
 16057682: 'Z7J',
 16057685: 'Z7J',
 16057689: 'Z7L',
 16057693: 'Z7K',
 16057698: 'Z8U',
 16057702: 'Z7K',
 16057707: 'Z7J',
 16057711: 'Z7L',
 16057715: 'Z7J',
 16057718: 'Z7J',
 16057721: 'Z7J',
 16057724: 'Z7J',
 16057727: 'Z7K',
 16057731: 'Z7J',
 16057735: 'Z7J',
 16057739: 'Z7J',
 16057743: 'Z7J',
 16057747: 'Z7J',
 16057751: 'Z7J',
 16057755: 'Z7J',
 16057759: 'Z7J',
 16057763: 'D7G',
 16058035: 'Z8E',
 16058039: 'Z8E',
 16058127: 'Z7J',
 16058173: 'Z7J',
 16058262: 'Z7J',
 16058265: 'Z7J',
 16059782: 'Z7J',
 16059785: 'Z7J',
 16059788: 'Z7J',
 16059791: 'Z7J',
 16060197: 'Z7J',
 16062843: 'Z7J',
 16068037: 'Z7J',
 16068040: 'Z7J',
 16068043: 'Z7J',
 16068046: 'Z7J',
 16068049: 'Z7J',
 16068052: 'Z7J',
 16068221: 'Z7J',
 16068900: 'Z7J',
 16068903: 'Z7J',
 16068906: 'Z7J'}

In [47]:
59 in bb

True

In [14]:
counter=0
for i in [1,2,3,4,5,6,7]:
    while counter <5:
        print(dd.iloc[counter,3])
        counter=counter+1

8
8
8
8
8

In [18]:
counter=0
while True:
        print(dd.iloc[counter,3])
        counter=counter+1
        if counter>=5:
            break

8
8
8
8
8

In [68]:
while True:
    name= random.choice(dd.name)
    horpow=dd[dd.name==name]["horsepower"]
    lhorpow=list(horpow)
    usersay=input("How much horse power has " + name + "?")
   
    if str(usersay) == "quit":
            break
    elif usersay in lhorpow:
        print("nice one")
    else:
        print("one more time?")

How much horse power has dodge_omni?quit

NameError: name 'quit' is not defined

In [54]:
3%2

1

In [55]:
int?

In [56]:
size=8049

In [57]:
(size/2)*(size-1)

32385152

In [32]:
x=1

In [70]:
x.bool()

AttributeError: 'int' object has no attribute 'bool'

In [33]:
y=0

In [75]:
import numpy as np
np.logical_and(x, y)

False

In [34]:
x|-y

1

In [1]:
True and False

False

In [2]:
True & False

False

In [24]:
a= "B1C+(V4B/C5T)"

In [25]:
a=a.replace("+", "&")

In [26]:
a=a.replace("/", "|")

In [20]:
a

'B1C&(V3B|C4R)'

In [27]:
eval(a)

NameError: name 'V4B' is not defined

In [5]:
B1C=0
V3B=1
C4R=1

In [136]:
ds=["B1C", "V4B", "C5T", "3VD", "V4G&4RG"]

In [83]:
import re

In [124]:
c="V4G&4RG"

In [120]:
[re.sub(r"(\s|\&|\|)\d+",r"x", s) for s in ds]

['B1C', 'V4B', 'C5T', '3VD', 'V4GxRG', 'D5GxNH']

In [88]:
def insertX(s):
    split = re.split('(\d.*)',s)
    return "x".join(split[:-1])

In [123]:
"l".join(re.findall('([\&]\d+)',"V4G&4RG"))

'&4'

In [134]:
xc="&o".join(c.rsplit("&",1))
eval(xc)

NameError: name 'V4G' is not defined

In [147]:
afd=[]
for i in ds:
    afd.append("&o".join(i.rsplit("&\d+",1)))

In [148]:
afd

['B1C', 'V4B', 'C5T', '3VD', 'V4G&4RG']

In [82]:
for i in ds:
    ara=i
    exec("%s = %d" % (ara,1))

SyntaxError: invalid syntax (<string>, line 1)

In [50]:
names=["bull", "shape", "lool"]

In [5]:
next(iter([1,2,3])), next(iter([1,2,3]))

(1, 1)

In [49]:
colors= ["red", "green", "doll", "rock", "slim"]

In [7]:
for i in range(len(colors)):
    print i, "--<", colors[i]

0 --< red
1 --< green
2 --< doll
3 --< rock
4 --< slim

In [10]:
for i, color in enumerate(colors):
    print i, "-->", color

0 --> red
1 --> green
2 --> doll
3 --> rock
4 --> slim

In [15]:
for name, color in zip (names, colors):
    print name, "-->", color

bull --> red
shape --> green
lool --> doll

In [16]:
print sorted(colors, key=len)

['red', 'doll', 'rock', 'slim', 'green']

In [17]:
d= dict(enumerate(names))

In [18]:
d

{0: 'bull', 1: 'shape', 2: 'lool'}

In [23]:
import itertools

In [32]:
list(itertools.combinations("ABCD",3))

[('A', 'B', 'C'), ('A', 'B', 'D'), ('A', 'C', 'D'), ('B', 'C', 'D')]

In [35]:
list(itertools.izip("BACD", "xycf"))

[('B', 'x'), ('A', 'y'), ('C', 'c'), ('D', 'f')]

In [36]:
zip("BACD", "xycf")

[('B', 'x'), ('A', 'y'), ('C', 'c'), ('D', 'f')]

In [39]:
list(itertools.combinations(colors,2))

[('red', 'green'),
 ('red', 'doll'),
 ('red', 'rock'),
 ('red', 'slim'),
 ('green', 'doll'),
 ('green', 'rock'),
 ('green', 'slim'),
 ('doll', 'rock'),
 ('doll', 'slim'),
 ('rock', 'slim')]

In [30]:
eval(a)

1

In [17]:
class newww (object):
    def __init__(self,name):
        self.name=name
        
    def hello(self,name):
        print("hello "+ self.name)

In [23]:
import random

In [13]:
g=newww("DAN")

In [18]:
g.hello("Dna")

helloDAN

In [11]:
g.hello("Dan")

TypeError: hello() takes exactly 1 argument (2 given)

In [24]:
class Die(object):
    def __init__(self, sides):
        self.sides=sides
    def roll(self):
        return random.randint(1, self.sides)

In [35]:
d=Die(40)

In [36]:
d.roll()

20

In [40]:
colors.pop()

'rock'

In [41]:
colors.pop()

'doll'

In [42]:
colors.pop()

'green'

In [43]:
colors

['red']

In [48]:
names

NameError: name 'names' is not defined

In [51]:
colors

['red', 'green', 'doll', 'rock', 'slim']

In [52]:
set(colors)

{'doll', 'green', 'red', 'rock', 'slim'}

In [93]:
 def neew(x):
        yield x**2

In [94]:
neew(9)

In [95]:
id(colors)

4593238456

In [97]:
colors[:]

['red', 'green', 'doll', 'rock', 'slim']

In [98]:
s[4:7]

'7NH'

In [99]:
s

'D5G|7NH'

In [113]:
mo= re.search(r"(\s|\&|\|)\d+", "AB2&3BN") 
print(mo)

<_sre.SRE_Match object at 0x10d4bfeb8>

In [114]:
mo.groups()

('&',)