In [10]:
import pandas as pd

In [2]:
%load_ext sql

In [3]:
try:
    import pymysql
    pymysql.install_as_MySQLdb()
except ImportError:
    pass

In [4]:
%sql mysql://a0553553:Hrenov88@a0553553.mysql.univie.ac.at/a0553553

'Connected: a0553553@a0553553'

In [18]:
df=%sql SELECT * FROM `TABLE 2` WHERE 1

 * mysql://a0553553:***@a0553553.mysql.univie.ac.at/a0553553
206 rows affected.

In [19]:
df=pd.DataFrame(df)

In [22]:
df.head()

,1,2,3,4,5,6,7,8,9,10,...,16,17,18,19,20,21,22,23,24,25
0,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,length,width,...,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price,symboling
1,alfa-romero,gas,std,two,convertible,rwd,front,88.6,168.8,64.1,...,mpfi,3.47,2.68,9,111,5000,21,27,13495,3
2,alfa-romero,gas,std,two,convertible,rwd,front,88.6,168.8,64.1,...,mpfi,3.47,2.68,9,111,5000,21,27,16500,3
3,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,171.2,65.5,...,mpfi,2.68,3.47,9,154,5000,19,26,16500,1
4,audi,gas,std,four,sedan,fwd,front,99.8,176.6,66.2,...,mpfi,3.19,3.4,10,102,5500,24,30,13950,2

In [21]:
df=df.iloc[:,1:26]

In [ ]:
he